
data

פרוייקט

example

*.txt

*.ipynb

train/

hewiki-20180720-pages-meta-current\.xml\.bz2

*.result

bigram/

datamodal\.zip

train\.gram

ngramForSenWithStartEnd\.lex

ngramForSen\.lex

last_train\.gram

dataWithLPD\.test

gram\.lex

ngram\.lex

40000-49999\.train

src/bigramModel\.gram
